[Unit]
Description=PiWeather
After=network.target

[Service]
Type=simple
ExecStart = /usr/bin/python3 /home/pi/PiWeather/PiWeather.py
Restart = always

[Install]
WantedBy=multi-user.target

