[Unit]
Description=PiWeather
After=pigpiod.service

[Service]
Type=simple
ExecStartPre = git -C /root/PiWeather pull
ExecStart = /usr/bin/python3 /root/PiWeather/PiWeather.py
Restart = always

[Install]
WantedBy=multi-user.target

